@model IEnumerable<Uganda_anti_corruption_portal.Models.ActivityCategory>

@{
    ViewBag.Title = "Index";
}
<div class="jumbotron backgroundcontent">
    <h2 style="text-align:center;">Services offered by government agencies</h2>

    <p>
        @*@Html.ActionLink("Create New", "Create")*@
        <div class="row">
            <div class="col-md-2">
                <a href="@Url.Action("Administration","Home")" class="btn btn-primary">Back to Admin page</a>
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("Create")" class="btn btn-primary">Create New</a>
            </div>
        </div>
    </p>
    <table class="table table-striped table-responsive-md  ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameOfService)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfService)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ActivityCategoryID }) |
                        @*@Html.ActionLink("Details", "Details", new { id = item.ActivityCategoryID }) |*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.ActivityCategoryID })
                    </td>
                </tr>
            </tbody>
        }

    </table>
</div>