@model IEnumerable<Uganda_anti_corruption_portal.Models.Enquiry>

@{
    ViewBag.Title = "Index";
}
<div class="jumbotron backgroundcontent">
    <h2 style="text-align:center;">List Of Enquiries</h2>


    <p>

        <div class="row">
            <div class="col-md-2">
                <a href="@Url.Action("Administration","Home")" class="btn btn-primary">Back to Admin page</a>
            </div>
            @*<div class="col-md-2">
                    <a href="@Url.Action("Create")" class="btn btn-primary">Create New</a>
                </div>*@
        </div>
    </p>
    <table class="table table-striped table-responsive-md ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EnquiryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnquiryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td class="ellipsis">
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td class="ellipsis">
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.EnquiryID }) |*@
                        @Html.ActionLink("Details", "Details", new { id = item.EnquiryID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.EnquiryID })
                    </td>
                </tr>
            </tbody>
        }

    </table>
</div>