@model Uganda_anti_corruption_portal.Models.Contributor

@{
    ViewBag.Title = "Details";
}
<div class="adminback">

    <h2>Details</h2>

    <div>
        <h4>Contributor</h4>
        <hr />
        <dl class="row">
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.Location)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.Email)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ContributorID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>